<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Repository</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<div class="container-fluid">

    <header>
        <div class="container">
            <div th:insert="header :: header"></div>
        </div>
    </header>

    <main>
        <div class="container">
            <h2>Product list</h2>
            <table class="table table-hover">
                <thead class="thead-default">
                <tr>
                    <th>ID</th>
                    <th>TITLE</th>
                    <th>COST</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each = "prod : ${products}">
                        <td th:text = "${prod.id}"></td>
                        <td th:text = "${prod.title}"></td>
                        <td th:text = "${prod.cost}"></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3">Total count: <span th:text = "${total_inpage}"></span></td>
                    </tr>
                </tfoot>
            </table>

        </div>

        <div class="container">
        <form th:action="@{/repository/addposition}" method="post" class = "w-25">
            <div  class="alert alert-success" th:if="${!message.isEmpty()}" role="alert">
                <span th:text = "${message}"></span>
            </div>
            <div class="form-group row mb-2">
                <label for="field_title" class="col-sm-2 col-form-label">TITLE</label>
                <div class="col-sm-10">
                    <input id="field_title" type="text" name="title" class="form-control" >
                </div>
            </div>
            <div class="form-group row mb-2">
                <label for="field_cost" class="col-sm-2 col-form-label">COST</label>
                <div class="col-sm-10">
                    <input id="field_cost" type="text" name="cost" class="form-control" >
                </div>
            </div>
            <div  class="alert alert-danger" th:if="${errors.length!=0}" role="alert">
                <span>ERRORS:</span><br>
                <table>
                <tr th:each = "err : ${errors}">
                    <td th:text = "${err}"></td>
                </tr>
                </table>
            </div>
            <button type="submit" class="btn btn-primary mb-2">Add to list</button>
        </form>
        </div>
    </main>

    <!-- FOOTER -->
    <footer>
        <div class="container">
            <div th:insert="footer :: copy"></div>
        </div>
    </footer>

</div>
</body>
</html>